<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.wemedia.mapper.WmMaterialMapper">

    <insert id="addMaterial">
        insert into wm_material(user_id, url, type, is_collection, created_time)
        VALUES(#{userId}, #{url}, #{type}, #{isCollection}, #{createdTime})
    </insert>

    <update id="updateMaterial">
        update wm_material
        <set>
            <if test="isCollection != null">
                is_collection = #{isCollection}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteMaterial">
        delete from wm_material
        where id = #{id}
    </delete>

    <select id="listQuery" resultType="com.heima.model.wemedia.pojos.WmMaterial">
        select * from wm_material
        <where>
            <if test="dto.isCollection != null">
                and is_collection = #{dto.isCollection}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
        order by created_Time desc
    </select>

    <select id="selectOne" resultType="java.lang.Integer">
        select id from wm_material where url = #{url}
    </select>

</mapper>