<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.user.mapper.ApUserRealnameMapper">

    <select id="list" resultType="com.heima.model.admin.pojos.ApUserRealname">
        select * from ap_user_realname
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by id asc
    </select>

</mapper>