<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.article.mapper.ApArticleContentMapper">

    <insert id="insert">
        insert into ap_article_content(article_id, content)
        values (#{articleId},#{content})
    </insert>

    <update id="update">
        UPDATE ap_article_content
        <set>
            <if test="content != null">
                content = #{content}
            </if>
        </set>
        where article_id = #{articleId}
    </update>

    <select id="getByArticleId" resultType="com.heima.model.article.pojos.ApArticleContent">
        select * from ap_article_content
        where article_id = #{articleId}
    </select>

</mapper>